* {
    box-sizing: border-box;
}

:root {
    --background: rgb(0, 118, 253);
    --lite: rgb(255, 255, 255);
    --dark-lite: rgb(238, 238, 238);
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: .5rem;
    opacity: 0.5;
    margin-top: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 300px) minmax(100px, 500px) 1fr;
    grid-template-areas: ". list task .";
}

.my-list {
    grid-area: list;
    padding: 1rem;
    color: var(--lite);
}

form {
    display: flex;
}

.new {
    background: 0;
    border: 0;
    width: 80%;
    color: inherit;
    border-bottom: 1px solid currentColor;
    outline: none;
    order: 2;
}

.new::placeholder {
    color: inherit;
    font-size: 0.8rem;
    opacity: .7;
}

.new:focus {
    border-bottom: 2px solid;
}

.new:focus::placeholder {
    opacity: 0.5;
}

.btn {
    border: 0;
    background: 0;
    color: inherit;
    font-size: 1.2rem;;
}

.lists {
    padding-left: 20px;
}

.lists li {
    list-style: circle;
    color: var(--lite);
    opacity: .8;
    font-size: 0.9rem;
    cursor: pointer;
}

.lists li:hover {
    opacity: 0.5
}

.lists li.active {
    color: white;
    font-weight: bold;
    opacity: 1;
}

.my-task {
    grid-area: task;
    background: var(--lite);
    position: relative;
    border-radius: 10px;
    display: none;
}

.task-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: var(--dark-lite);
    border-radius: 10px 10px 0 0;
}

.task-head p{
    opacity: .7;
    font-size: .8rem;
    margin: 0;
}

.task-head h2 {
    margin: 0;
}

.task-body {
    padding: 0 1rem ;
    opacity: .8;
    
}

.task input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    width: .7rem;
    height: .7rem;
    border: 1px solid currentColor;
    border-radius: 50%;
    margin-right: .8rem;
    outline: none;
    position: relative;
    cursor: pointer;
}

.task input:checked:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 0 2px currentColor;

}

.task input:checked ~ label{
    opacity: .5;
    text-decoration: line-through;
}

.task {
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.task label {
    cursor: pointer;
    font-size: 0.9rem;
    transition: .1s;
}

.task label:hover {
    opacity: .5;
}

.delete {
    position: absolute;
    bottom: -2rem; 
}

.delete .btn {
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
}

.task, form {
    margin-top: 1rem;
}

.my-task form {
    padding-bottom: 1rem;
}